<footer class="page-footer font-small bg-warning pt-4">

  <div class="container">

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-dark">Siga-nos nas redes sociais</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a href="https://twitter.com/astronauta_93" target="_blank"
                class="icoTwitter">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="https://github.com/raizapaula93" target="_blank"
                class="icoGithub">
                <i class="fa fa-github-square" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/raiza-de-paula/" target="_blank"
                class="icoLinkedin">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>  
      </div>  
    </div>
  </div>
  <div class="footer-copyright bg-secondary text-center py-3">
         <a class="text-light" target="blank" href="https://www.linkedin.com/in/raiza-de-paula/">©2022 Copyright: Raiza de Paula.</a>
     
  </div> 

</footer>
